<div class="container">
    <div class="container row">
        <div class="span12">
            <!-- SEARCH BOX -->
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>This is admin dashboard</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                        <!--body-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
