<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
    <link rel="stylesheet" href="/css/custom/tab.css">
    <script src="/js/custom/prefixfree.min.js"></script>
</head>

<body>
    <!-- main course page -->
    <div class="course-detail course-tab features">
        <div ng-controller="SetCourseCtrl">
            <p class="name"> {{ courseName }} </p>
            <div class="trname" ng-repeat="trainer in courseTrainer">
                <!-- Article course page -->
                <a href="{{ courseTrainerPage }}"> {{ trainer }} </a>
                <!-- <a href= "{{ courseTrainerPage }}" > {{ courseTrainer }} </a> -->
            </div>
            <br>
            <input id="tab6" type="radio" name="tabs" checked>
            <label for="tab6">Description</label>
            <input id="tab7" type="radio" name="tabs">
            <label for="tab7">Documents</label>
            <input id="tab8" type="radio" name="tabs">
            <label for="tab8">Test</label>
            <input id="tab9" type="radio" name="tabs">
            <label for="tab9">Feedback &amp; Rating</label>
            <section id="content1">                
                <div style="padding-left:2%;">{{ courseDescription }}</div>
            </section>

            <section id="content2">
              <div class="features-thumb" style="padding-left:10%;">
                  <a href="{{ courseDocuments }}">
                      <img alt="" width="18" height="120" src="/img/doc-1.jpg" class="attachment-related-post size-related-post wp-post-image" />
                      <div class="overlay">
                          <em class="icon-expand4"></em>
                      </div>
                  </a>
              </div>
            </section>

            <section id="content3">
              <div class="features-thumb" style="padding-left:20%;">
                  <a href="{{ courseTest }}">
                      <img alt="" width="189" height="120" src="/img/onl-test.jpg" class="attachment-related-post size-related-post wp-post-image" />
                      <div class="overlay">
                          <em class="icon-expand4"></em>
                      </div>
                  </a>
              </div>
            </section>

            <section id="content4" class="row" style="padding-left:30%;">
              <div class="features-thumb">
                  <a data-toggle="modal" href="#feedbackModal">
                      <img alt="" width="189" height="120" src="/img/feed-back.jpg" class="attachment-related-post size-related-post wp-post-image" />
                      <div class="overlay">
                          <em class="icon-expand4"></em>
                      </div>
                  </a>
              </div>
              <div class="features" ng-controller="FeedbackCtrl">
                  <h1 style="float:left">Rating for Course</h1>
                  <fieldset class="rating" >
                      <input type="radio" id="star5" name="rating" value="5" ng-model="rating" ng-click="addRating()" />
                      <label class="full" for="star5" title="Awesome - 5 stars"></label>
                      <input type="radio" id="star4" name="rating" value="4" ng-model="rating" ng-click="addRating()" />
                      <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                      <input type="radio" id="star3" name="rating" value="3" ng-model="rating" ng-click="addRating()" />
                      <label class="full" for="star3" title="Meh - 3 stars"></label>
                      <input type="radio" id="star2" name="rating" value="2" ng-model="rating" ng-click="addRating()" />
                      <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                      <input type="radio" id="star1" name="rating" value="1" ng-model="rating" ng-click="addRating()" />
                      <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                  </fieldset>
              </div>
            <br>
              <div class="" style="float:left">
                  <div ng-controller="FeedbackCtrl">
                      <button class="btn btn-primary" ng-click="showFeedback()">Show feedbacks</button>
                      <ul ng-repeat="feedback in feedbackList">
                          <li>Feedback: {{feedback.comment}}</li>
                          <li>Rating: {{feedback.rating}}</li>
                      </ul>
                  </div>
              </div>
            </section>
        </div>
    </div>

    <!---Feedback modal ---->
    <div id="feedbackModal" class="modal fade" role="dialog" ng-controller="FeedbackCtrl">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Feedback</h4>
                </div>
                <div class="modal-body">
                    <textarea style="width:100%;  height:100%" ng-model="comment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addFeedback()" data-dismiss="modal">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
