<!DOCTYPE html>
<html lang="en" ng-app="myApp">

    <head>
        <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
    </head>
    <body>
        <!--  List of courses -->
        <div class="container profile" ng-controller="SetProfileCtrl">
            <div class="col-xs-12 col-sm-12 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ user.pName }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 ">
                                <img alt="User Picture" ng-src="{{ user.pAvatar }}" class="img-responsive">
                                <form id="uploadForm" enctype="multipart/form-data" action="/users/photo" method="post">
                                    <input class="btn btn-default col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px" type="file" name="userPhoto"/>
                                    <input class="btn btn-primary col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px" type="submit" value="Upload Image" name="submit">
                                    <span id="status"></span>
                                </form>
                            </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Status</td>
                                            <td>
                                                <input id="statusUser" type="text" ng-model="user.pStatus">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>
                                                <input id="dob" type="text" ng-model="user.pDoB">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>
                                                <input id="phone" type="text" ng-model="user.pPhone">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td>
                                                <input id="loc" type="text" ng-model="user.pLocation">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                <a ng-href="{{ user.pEmail }}">{{ user.pEmail }}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button ng-click="edit()" class="btn btn-success pull-right col-md-1">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
