<html lang="en" ng-app="myApp">
    <head>
    <title>Training Program</title>
    </head>


    <body>
      <div style="background-color: #F6F8F8"  ng-controller="CourseRegisterController">
      <div class="intro-header carousel slide" data-ride="carousel" style="height=100%" style="background-color: #F6F8F8">
        <div class="carousel-inner" role="listbox">
          <div
              class="item active intro-message"
              style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(/img/sliders/slider-1.jpg) no-repeat center center ;
                    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/img/sliders/slider-1.jpg) no-repeat center center ; /* For Safari 5.1 to 6.0 */
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;">
                <p class="slidertext">{{session.name}}</p>
                <p class="slidertextdislaynumberofcourse">10 sessions</p>
                <p class="slidertextdescription "><i>This is sciption of {{session.name}}</i></p>
            </div>
        </div>
      </div>
      <br>
      <div class="container" style="background-color: #F6F8F8"> <!-- this is progress-bar -->
        <h2><p>Completed: 4/10 Sessions</p></h2> <!--Left number is changed by user, right number is changed by admin-->
          <div class="progress">
               <div class="progress-bar progress-bar-striped active" role="progressbar"
               aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
               40%
               <!-- when user learn course. prosses bar change, maybe you must change % of style by aria-valuenow and remove style width-->
               </div>
          </div>
      </div>
      <br><br>
        <div class="container" style="background-color: #F6F8F8" >
            <!--list of courses in here and use ng-repeat-->
            <div class = "course-list container" >

            <!-- you must add the condition in here  <div {{course.category}} = "Linux Programming"> -->
                  <div ng-repeat="course in courseBySessionIDList" >
                      <div class="row" >
                          <div class="col-md-11"  >
                                <div class="col-md-12 panel panel-default container" id="a">
                                      <br>
                                      <a href="/course/coursedetail/{{course.id}}">
                                          <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                      <ng-avatar initials="{{ course.name }}" max-length="1" auto-color="true" round-shape="true"  width="95"></ng-avatar>
                                                    </div>
                                                    <div class="col-md-10">
                                                      <div class="row"><h1 style="color: #000000; font-size:36px"><b>{{ course.name }}</b></h1></div>
                                                      <div class="row" style="color: #33cc33" ng-bind-html="course.description"><i>"{{ course.description }}"</i></div>
                                                    </div>
                                                </div>
                                                <br>
                                          </div>
                                      </a>
                                        <div class="col-md-2">
                                            <div class="row">
                                             Ratting or sth else
                                            </div>
                                            <div class="row">
                                              <img alt="GeneralOrientation" src="/img/courseicon/user.png" width="50px">
                                              9/10 <!--right number is defined by admin; left number is changed by user click-->
                                            </div>
                                            <div class="row" id="c">
                                               <!-- <button  onClick="fn3()" class="btn btn-success" >
                                                  <span class="glyphicon glyphicon-plus"  ></span>
                                                </button> -->
                                            </div>
                                        </div>
                                </div>
                          </div>
                      </div>
                    <!--this function restart when u reload page, MUST CHANGE-->
                      <!-- <script>
                      var fn3 = (function() {
                                var first = true;
                                return function() {
                                  first ? fn1() : fn2();
                                  first = !first;
                                }
                              })();

                              function fn1() {
                                // TODO: change id :"a" to id of {{course.id}} ; id"a" in line 44
                                document.getElementById("a").style.backgroundColor = "gray";
                                // in this function we aslo must change the color of title and descri... text
                                document.getElementById("c").innerHTML = '<button  onClick="fn3()" class="btn btn-danger" ><span class="glyphicon glyphicon-minus"  ></span></button>';
                              };
                              function fn2() {
                                document.getElementById("a").style.backgroundColor = "white";
                                  document.getElementById("c").innerHTML = '<button  onClick="fn3()" class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span></button>';
                              };
                      </script> -->
                 </div>
            <!--  </div> -->
           </div>
        </div>
      </div>
    </body>
</html>
