<html lang="en" ng-app="myApp">
    <head>
    <title>Training Program</title>
    </head>
    <body>
        
        
    <div class="trainingprogram-list container">
        <div class="list"> LIST OF TRAINING PROGRAM</div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table table-training-information" ng-controller="SetTrainingProgram" style="width:100%">
                    <thread>
                        <tr class="tableheader" style="background-color:#363636">
                            <th>Training Program</th>
                            <th> Course </th>
                            <th style="text-align:center">
                                <div class="btn btn-default" data-toggle="modal" href="#addTrainingProgram">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </thread>
                </table>
            </div>
            
        </div>
    </div>
        
        
        
        
        
        
   
    </body>
</html>