.navbar-logo {
  float: left right top bottom;
  height: 50px;
  padding: 30px 10px;
  font-size: 18px;
  line-height: 20px;
}
@media all and (max-width: 768px) {
  .navbar-logo{
    float:left;
    padding:9px 10px;
    margin-top:8px;
    margin-left: 15px;
    margin-bottom:30px;
    border:1px solid transparent;
  }
}
@media all and (max-width: 330px) {
  .navbar-logo{
    display: none;
  }
}


.navbar-name {
  float: left;
  height: 50px;
  padding: 28px 20px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-name:hover,
.navbar-name:focus {
  text-decoration: none;
}
.navbar-name > img {
  display: block;
}
@media (max-width: 768px) {
  .navbar-name{
    display: none;
  }
}
.navbar-default .navbar-name {
  color: #777;
}
.navbar-default .navbar-name:hover,
.navbar-default .navbar-name:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-menu {
  position: relative;
  float: right;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left:1px;
  padding-right:1px;

  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 17px;
  background-image: none;
  border: 1px;
}
@media (min-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

/* responsive menu */

/*------------------------------------------------------------------------------*/
