.text{
  border-top: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
  padding: 10px 1px;
}
/***********navbar dcc****************/
.navbar-dcc {
  background-color: #1C1C1C;
  border-color: #1C1C1C;
}
.navbar-dcc .navbar-brand {
  color: #777;
}
.navbar-dcc .navbar-brand:hover,
.navbar-dcc .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-dcc .navbar-text {
  color: #F8F8FF;
}
.navbar-dcc .navbar-name {
  color: #F8F8FF;
}
.navbar-dcc .navbar-nav > li > a {
  color: #F8F8FF;
}
.navbar-dcc .navbar-nav > li > a:hover,
.navbar-dcc .navbar-nav > li > a:focus {
  color: #333;
  background-color: #F8F8FF;
  border-radius: 50px;
}
.navbar-dcc .navbar-nav > .active > a,
.navbar-dcc .navbar-nav > .active > a:hover,
.navbar-dcc .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-dcc .navbar-nav > .disabled > a,
.navbar-dcc .navbar-nav > .disabled > a:hover,
.navbar-dcc .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-dcc .navbar-toggle {
  border-color: #ddd;
}
.navbar-dcc .navbar-toggle:hover,
.navbar-dcc .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-dcc .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-dcc .navbar-collapse,
.navbar-dcc .navbar-form {
  border-color: #e7e7e7;
}
.navbar-dcc .navbar-nav > .open > a,
.navbar-dcc .navbar-nav > .open > a:hover,
.navbar-dcc .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
/***********main logo**********/
.navbar-logo {
  float: left right top bottom;
  height: 50px;
  padding: 30px 10px;
  font-size: 18px;
  line-height: 20px;
}
@media all and (max-width: 768px) {
  .navbar-logo{
    float:left;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 1px;
    border:1px solid transparent;
  }
}
@media all and (max-width:290px) {
  .navbar-logo{
    display: none ;
  }
}
/***********main logo**********/
.navbar-logo2 {
  float: left right top bottom;
  height: 50px;
  padding: 30px 10px;

  font-size: 18px;
  line-height: 20px;
}
@media all and (max-width: 768px) {
  .navbar-logo2{
    float:left;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 1px;
    border:1px solid transparent;
    margin-bottom: 30px;
  }
}
@media all and (max-width:260px) {
  .navbar-logo2{
    display: none;
  }
}
/*************DCC Name****************/
.navbar-name {
  float: left;
  height: 50px;
  padding: 28px 20px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-name:hover,
.navbar-name:focus {
  text-decoration: none;
}
.navbar-name > img {
  display: block;
}
@media (max-width: 996px) {
  .navbar-name{
    display: none;
  }
}
.navbar-dcc .navbar-name {
  color: #f8f8f8;
}
.navbar-dcc .navbar-name:hover,
.navbar-dcc .navbar-name:focus {
  color: #5e5e5e;
  background-color: transparent;
}
/**************Dropdown menu**********************/
.navbar-menu {
  position: relative;
  float: right;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left:1px;
  padding-right:1px;

  margin-top: 19px;
  margin-left: 1px;
  margin-bottom: 17px;
  border: 1px;
}
@media (min-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

/****************row  menu (main page)*****************/
.navbar-rowmenu {
  padding: 25px 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-rowmenu.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-rowmenu {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-rowmenu.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-rowmenu.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-rowmenu,
  .navbar-static-top .navbar-rowmenu,
  .navbar-fixed-bottom .navbar-rowmenu {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-top .navbar-rowmenu,
.navbar-fixed-bottom .navbar-rowmenu {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-rowmenu,
  .navbar-fixed-bottom .navbar-rowmenu {
    max-height: 200px;
  }
}


/*-----------container2-------------*/
.container2 {
  padding-top: 90px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
.container2-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container2 > .navbar-header,
.container2-fluid > .navbar-header,
.container2 > .navbar-collapse,
.container2-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container2 > .navbar-header,
  .container2-fluid > .navbar-header,
  .container2 > .navbar-collapse,
  .container2-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}


/*--------------transparent dropdown Menu---------------------*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.dl-menuwrapper {
	width: 100%;
  height: auto;
	max-width: 300px;
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;

}
.dl-menuwrapper button {
	background: #1C1C1C;
	border: none;
	width: 48px;
	height: 45px;
  margin-left: 50px;
	text-indent: 0px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 5px;
	background: #fff;
	top: 10px;
	left: 16%;
	box-shadow:
		0 10px 0 #fff,
		0 20px 0 #fff;
}

.dl-menuwrapper ul {
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 25px;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px 15px;
	font-style: oblique;;
	font-size: 23px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
	outline: none;
}
.dl-menuwrapper .dl-menu {
	margin-top: 19px;
	position: absolute;
	width: 540px;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8) );
}

.dl-menuwrapper .dl-menu > li > a:hover,
.dl-menuwrapper .dl-menu > li > a:focus {
  color: #333;
  background-color: #F8F8FF;
  border-radius: 50px;
  width: auto;
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}




/*------------  ( FEATURES )  ------------*/
.features {
	padding-top: 10px;
	margin-bottom: 30px;
	/*border-top: 2px solid #f4f4f4;*/

}
.features .features {
	text-align: center;
  max-width: 350px;

}
.features .features-thumb {
	margin-bottom: 12px;
	overflow: hidden;
	position: relative;
	background-color: #333;
	transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}
.features .features-thumb a img {
	width: 100%;
}
.features .features-thumb .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e2e0dd;
	transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}
.features .features-thumb:hover .overlay {
	opacity: 0.5;
}
.features h4 {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 18px;
	text-transform: uppercase;
}

/*---------- Rating----------------*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{}
h1 { font-size: 1.5em; margin: 0px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  padding-bottom: 50px;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/************Profile*************/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
