<div class="row">
    <div class="span12">
        <div class="widget widget-nopad">
            <div class="widget-header">
                <center><h1>My Courses</h1></center>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="widget big-stats-container">
                    <div class="widget-content" ng-controller="todaysStatsController">

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">

                                <div class="accordion" id="trainingprogram1">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#trainingprogram1" href="#collapseOne">
                                                <img alt="orientation" class="img-responsive" src = "/img/orientation.png" width="95px">
                                                &nbsp&nbsp&nbsp&nbsp<font size="6px">Training Program 1</font>
                                            </a>
                                        </div>
                                        <div id="collapseOne" class="accordion-body collapse" style="height: 20px">

                                            <table class="accordion-inner " style=" background-color: #b3ffb3">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Learning </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Skip next class </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Give feedback </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="accordion-inner " style=" background-color: #ffff99">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Registered </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Show Detail </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Un-register </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="accordion-inner " style=" background-color: #ff8566">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Joined </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Give feedback </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Re-register </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>

                                    </div>


                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                <img alt="orientation" class="img-responsive" src = "/img/orientation.png" width="95px">
                                                &nbsp&nbsp&nbsp&nbsp<font size="6px">Name of training program 2</font>
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="accordion-body collapse" style="height: 20px;">
                                            <table class="accordion-inner " style=" background-color: #b3ffb3">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Learning </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Skip next class </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Give feedback </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="accordion-inner " style=" background-color: #ffff99">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Registered </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Show Detail </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Un-register </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table class="accordion-inner " style=" background-color: #ff8566">
                                                <br/>
                                                <tr>
                                                    <th rowspan="3">

                                                        <div  style="text-align:left">
                                                            <!-- <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px"> -->
                                                            <!-- <font size="5px">Very lengthy Name of a course in this program </font> -->
                                                            <blockquote class="blockquote">
                                                                <img alt="course-icon" class="img-responsive" src = "/img/courses-icon.png" width="50px">
                                                                <font size="5px">Very lengthy Name of a course in this program </font>
                                                                <footer class="blockquote-footer"> Very long description description description description description description description description description description description description description
                                                                </footer>
                                                            </blockquote>

                                                        </div>
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <td><center><h3 class="span4" >Joined </h3></center></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <center>
                                                            <a href="javascript:;" class="pull-left btn btn-md btn-primary span2"> Give feedback </a>
                                                            <a href="javascript:;" class="pull-right btn btn-md btn-warning span2"> Re-register </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /widget-content -->
                </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /row -->.
</div>
