<div class="container">
    <div class="container row">
        <div class="span12">
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>Course name</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                    <!-- <div class="course-detail course-tab features">
                                        <br>
                                        <input id="tab6" type="radio" name="tabs" checked>
                                        <label for="tab6">Description</label>
                                        <input id="tab7" type="radio" name="tabs">
                                        <label for="tab7">Documents</label>
                                        <input id="tab8" type="radio" name="tabs">
                                        <label for="tab8">Test</label>
                                        <input id="tab9" type="radio" name="tabs">
                                        <label for="tab9">Feedback &amp; Rating</label>
                                    </div> -->
                                
                                    <uib-tabset active="activeJustified" justified="true" style="margin:10px;">
                                        <uib-tab index="0" heading="Justified">Justified content</uib-tab>
                                        <uib-tab index="1" heading="SJ">Short Labeled Justified content</uib-tab>
                                        <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
