<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li ng-class="{active: $state.includes('trainer_dashboard')}"><a ui-sref="trainer_dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li ng-class="{active: $state.includes('userProfile')}"><a ui-sref="userProfile"><i class="icon-user "></i><span>Profile</span> </a> </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
