<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">

                <li ng-class="{active: $state.includes('trainee_dashboard')}"><a ui-sref="trainee_dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li ng-class="{active: $state.includes('trainee_courseRegister')}"><a ui-sref="trainee_courseRegister"><i class="icon-plus-sign-alt "></i><span>Course Register</span> </a> </li>
                <li ng-class="{active: $state.includes('userProfile')}"><a ui-sref="userProfile"><i class="icon-user "></i><span>Profile</span> </a> </li>

                <!--
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Others</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;">Icons</a></li>
                        <li><a href="javascript:;">FAQ</a></li>
                        <li><a href="javascript:;">Pricing Plans</a></li>
                        <li><a href="javascript:;">Login</a></li>
                        <li><a href="javascript:;">Signup</a></li>
                        <li><a href="javascript:;">404</a></li>
                    </ul>
                </li>
                -->
    </ul>
</div>
<!-- /container -->
</div>
<!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
