<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a>
            <a class="brand" href="index.html#/homepage">
                <img class="navbar-logo img-responsive" src="/img/logo/DCC-icon.png" alt="DCC Logo" width="80px">&nbsp;&nbsp;
                DEK Competence Center
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="brand">
                        <a data-ui-sref="calendar">
                            <font size="4">Training Calendar</font>
                        </a>
                    </li>
                    <li class="brand">
                        <a data-ui-sref="contact" >
                            <font size="4">Contact</font>
                        </a>
                    </li>
                    <li class="brand dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <font size="4"><i class="icon-user"></i>&nbsp User Name</font> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;"><font size="3">Profile</font></a></li>
                            <li><a ui-sref="logout"><font size="3">Logout</font></a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li ng-class="{active: $state.includes('dashboard')}"><a ui-sref="dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li ng-class="{active: $state.includes('courseRegister')}"><a ui-sref="courseRegister"><i class="icon-plus-sign-alt "></i><span>Course Register</span> </a> </li>

                <!-- <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Others</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;">Icons</a></li>
                        <li><a href="javascript:;">FAQ</a></li>
                        <li><a href="javascript:;">Pricing Plans</a></li>
                        <li><a href="javascript:;">Login</a></li>
                        <li><a href="javascript:;">Signup</a></li>
                        <li><a href="javascript:;">404</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
