<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
    <script> </script>
</head>
<body>
    <!-- Navigation -->
    <div class="">
          <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
              <div class="container">
          				<div class="navbar-header">
          					<a class="navbar-logo" href="/">
          						<img class="img-responsive" src="/img/DCC-ver4.png" alt="" width="100" height="40">
          					</a>
          				</div>
          				<div>
          					<a class="navbar-name" href="/">DEK</br>Competence Center</a>
          				</div>
  			     </div>
  		    </nav>
      </div>

    <!-- main course page -->
    <div class="container2" style="padding-top: 130px">
        <div ng-controller="SetCourseCtrl">
          <p class="name">  {{ courseName }} </p>
          <div class="trname" ng-repeat="trainer in courseTrainer">
            <!-- Article course page -->
              <a href= "{{ courseTrainerPage }}" > {{ trainer }} </a>
            </ul>
            <!-- <a href= "{{ courseTrainerPage }}" > {{ courseTrainer }} </a> -->
          </div>
          </br>
      		<p class="text">{{ courseDescription }}</p>
        </div>
        <!-- CALENDAR -->
        <!-- TODO: modify Features section -->
      <div class="row">
        <div class="features">
          <div class="row" ng-controller="SetFeatureCtrl" >
            <div class="col-md-12">
              <h2>
                FEATURES
              </h2>
            </div>

            <div class="features col-md-3">
              <div class="features-thumb">
                <a href="{{ courseDocuments }}">
                  <img alt="" width="189" height="120" src="/img/doc-1.jpg" class="attachment-related-post size-related-post wp-post-image"/>
                  <div class="overlay">
                    <em class="icon-expand4">
                    </em>
                  </div>
                </a>
              </div>
              <h4>
                <a href="">DOCUMENTS</a>
              </h4>
            </div>

            <div class="features col-md-3">
              <div class="features-thumb">
                <a href="{{ courseTest }}">
                  <img alt="" width="189" height="120" src="/img/onl-test.jpg" class="attachment-related-post size-related-post wp-post-image"/>
                  <div class="overlay">
                    <em class="icon-expand4">
                    </em>
                  </div>
                </a>
              </div>
              <h4>
                <a href="https://www.dektech.com.au/">ONLINE TESTING</a>
              </h4>
            </div>

            <div class="features col-md-3">
              <div class="features-thumb">
                <a data-toggle="modal" href="#feedbackModal">
                  <img alt="" width="189" height="120" src="/img/feed-back.jpg" class="attachment-related-post size-related-post wp-post-image"/>
                  <div class="overlay">
                    <em class="icon-expand4">
                    </em>
                  </div>
                </a>
              </div>
              <h4>
                <a data-toggle="modal" href="#feedbackModal">FEEDBACKS</a>
              </h4>
            </div>
            <div class="features col-md-3">

                <h1>Rate for Trainer</h1>
                <fieldset class="rating" ng-controller="FeedbackCtrl">
                    <input type="radio" id="star5" name="rating" value="5" ng-model="rating" ng-click="addRating()"/><label class = "full" for="star5" title="Awesome - 5 stars" ></label>
                    <!-- <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
                    <input type="radio" id="star4" name="rating" value="4" ng-model="rating" ng-click="addRating()"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <!-- <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
                    <input type="radio" id="star3" name="rating" value="3" ng-model="rating" ng-click="addRating()"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <!-- <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
                    <input type="radio" id="star2" name="rating" value="2" ng-model="rating" ng-click="addRating()"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <!-- <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
                    <input type="radio" id="star1" name="rating" value="1" ng-model="rating" ng-click="addRating()"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <!-- <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
                </fieldset>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- TODO: modify Feedback section -->
  <!-- Show feedbacks -->
<div class="col-md-12" style="padding-left:15%;" >
    <div ng-controller="FeedbackCtrl">
      <button class="btn btn-primary" ng-click="showFeedback()">Show feedbacks</button>
        <ul ng-repeat="feedback in feedbackList">
          <li> {{feedback.comment}} : RATING {{feedback.rating}}</li>
        </ul>
    </div>
  </div>
</div>

    <!---Feedback modal ---->
    <div id="feedbackModal" class="modal fade" role="dialog" ng-controller="FeedbackCtrl">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Feedback</h4>
          </div>
          <div class="modal-body">
            <textarea style="width:100%;  height:100%" ng-model="comment"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="addFeedback()" data-dismiss="modal">Send</Button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#courses">Courses</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
