<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>

<link rel='stylesheet' href='/js/dist/textAngular.css'>
<script src='/js/dist/textAngular-rangy.min.js'></script>
<script src='/js/dist/textAngular-sanitize.min.js'></script>
<script src='/js/dist/textAngular.min.js'></script>
</head>
<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    $(function() {
        $('#dl-menu').dlmenu();
    });
</script>
<body>
    <!-- Navigation -->
    <div class="">
        <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
            <div class="container">
                <div class="navbar-menu">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger">MENU</button>
                        <ul class="dl-menu">
                            <li><a href="/course">Courses</a></li>
                            <li><a href="/users/userprofile">Profile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header">
                    <a class="navbar-logo" href="/">
                        <img class="img-responsive" src="/img/DCC-ver4.png" alt="" width="100">
                    </a>
                </div>
                <div>
                    <a class="navbar-name" href="/">DEK</br>Competence Center</a>
                </div>
                <div class="collapse navbar-rowmenu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/course">Courses</a></li>
                        <li><a href="/users/userprofile">Profile</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!--  List of courses -->
    <div class="container" style="padding-top: 120px">
          <div class="list"> LIST OF COURSES</div>
          <div class="row">
              <div style="overflow-x:auto;" class="col-md-12 col-lg-12 ">
                  <table class="table table-user-information" ng-controller="GetListCtrl">
                      <thead>
                          <tr class="tableheader" style="background-color: #CDC5BF">
                              <th>Name</th>
                              <th>Category</th>
                              <th>Trainer</th>
                              <th style="text-align:center">
                                  <div class="btn btn-default" data-toggle="modal" href="#addCourseModal">Add Course</div>
                              </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="course in coursesList">
                              <td><a href="/course/coursesoverview/{{course.id}}" title="{{course.description}}" data-toggle="popover" data-trigger="hover" data-content="Some content">{{ course.name }}</td>
                              <td>{{ course.category }}</td>
                              <td>{{ course.trainerID }}</td>
                              <td style="text-align:center">
                                  <a class="a-inside edit" data-toggle="modal" href="#editCourseModal" ng-click="editCourse(course)"><span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                                  <a class="a-inside delete" data-toggle="modal" href="#deleteCourseModal" ng-click="deleteCourse(course)"><span class="glyphicon glyphicon-trash"></span></a>
                              </td>
                          </tr>
                        </tbody>
                  </table>
              </div>
          </div>
      </div>

    <!-- Add Course Form -->
    <div class="modal fade" id="addCourseModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Course</h4>
                </div>
                <form name="addCourseForm" ng-controller="AddCourseCtrl" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <!-- Course Name -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseName.$invalid && !addCourseForm.courseName.$pristine }">
                            <label class="col-sm-4 control-label">Course name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseName" ng-model="courseslist.courseName" placeholder="Course name" required>
                                <p ng-show="addCourseForm.courseName.$invalid && !addCourseForm.courseName.$pristine" class="help-block">Course name is required.</p>
                            </div>
                        </div>
                        <!-- Course Description -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseDescription.$invalid && !addCourseForm.courseDescription.$pristine }">
                            <label class="col-sm-4 control-label">Course description</label>
                            <div class="col-sm-8">
                                <text-angular ng-model="courseslist.courseDescription"></text-angular>
                              </div>
                        </div>
                        <!-- Course Category -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseCategory.$invalid && !addCourseForm.courseCategory.$pristine }">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="courseCategory" ng-model="courseslist.courseCategory">
                                    <option>General Orientation</option>
                                    <option>Linux Programming</option>
                                    <option>AXE Overview</option>
                                    <option>CBA Overview</option>
                                    <option>IMS Overview</option>
                                    <option>AXE Overview</option>
                                    <option>On Demand</option>
                                </select>
                            </div>
                        </div>

                        <!-- Course Document -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseDocuments.$invalid && !addCourseForm.courseDocuments.$pristine }">
                            <label class="col-sm-4 control-label">Documents</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseDocuments" ng-model="courseslist.courseDocuments" placeholder="Course documents" required>
                                <p ng-show="addCourseForm.courseDocuments.$invalid && !addCourseForm.courseDocuments.$pristine" class="help-block">Course documents is required.</p>
                            </div>
                        </div>

                        <!-- Course Test -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseTest.$invalid && !addCourseForm.courseTest.$pristine }">
                            <label class="col-sm-4 control-label">Test</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseTest" ng-model="courseslist.courseTest" placeholder="Course test" required>
                                <p ng-show="addCourseForm.courseTest.$invalid && !addCourseForm.courseTest.$pristine" class="help-block">Course test is required.</p>
                            </div>
                        </div>

                        <!-- Course TrainerID -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseTrainerID.$invalid && !addCourseForm.courseTrainerID.$pristine }">
                            <label class="col-sm-4 control-label">TrainerID</label>
                            <div class="col-sm-8">
                                <tags-input name="courseTrainerID" min-length="1" replace-spaces-with-dashes="false" ng-model="courseslist.courseTrainerID" placeholder="Trainer name" required></tags-input>
                                <p ng-show="addCourseForm.courseTrainerID.$invalid && !addCourseForm.courseTrainerID.$pristine" class="help-block">Course trainerID is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="AddCourseCtrl()" data-dismiss="modal" ng-disabled="addCourseForm.$invalid">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Course Form -->
    <div class="modal fade" id="editCourseModal" role="dialog" ng-controller="UpdateCourseCtrl">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Course</h4>
                </div>
                <form name="editCourseForm" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">


                        <!-- Course Name -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseNameEdit.$invalid && !editCourseForm.courseNameEdit.$pristine }">
                            <label class="col-sm-4 control-label">Course name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseNameEdit" ng-model="courseslistEdit.courseNameEdit" required>
                                <p ng-show="editCourseForm.courseNameEdit.$invalid && !editCourseForm.courseNameEdit.$pristine" class="help-block">Course name is required.</p>
                            </div>
                        </div>

                        <!-- Course Description -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseDescriptionEdit.$invalid && !editCourseForm.courseDescriptionEdit.$pristine }">
                            <label class="col-sm-4 control-label">Course description</label>
                            <div class="col-sm-8">
                                <textarea type="text" class="form-control" name="courseDescriptionEdit" ng-model="courseslistEdit.courseDescriptionEdit" required></textarea>
                                <p ng-show="editCourseForm.courseDescriptionEdit.$invalid && !editCourseForm.courseDescriptionEdit.$pristine" class="help-block">Course description is required.</p>
                            </div>
                        </div>


                        <!-- Course Category -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseCategoryEdit.$invalid && !editCourseForm.courseCategoryEdit.$pristine }">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="courseCategoryEdit" ng-model="courseslistEdit.courseCategoryEdit" required>
                                    <option>General Orientation</option>
                                    <option>Linux Programming</option>
                                    <option>AXE Overview</option>
                                    <option>CBA Overview</option>
                                    <option>IMS Overview</option>
                                    <option>AXE Overview</option>
                                    <option>On Demand</option>
                                </select>
                            </div>
                        </div>

                        <!-- Course Document -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseDocumentsEdit.$invalid && !editCourseForm.courseDocumentsEdit.$pristine }">
                            <label class="col-sm-4 control-label">Documents</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseDocumentsEdit" ng-model="courseslistEdit.courseDocumentsEdit" required>
                                <p ng-show="editCourseForm.courseDocumentsEdit.$invalid && !editCourseForm.courseDocumentsEdit.$pristine" class="help-block">Course documents is required.</p>
                            </div>
                        </div>

                        <!-- Course Test -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseTestEdit.$invalid && !editCourseForm.courseTestEdit.$pristine }">
                            <label class="col-sm-4 control-label">Test</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseTestEdit" ng-model="courseslistEdit.courseTestEdit" required>
                                <p ng-show="editCourseForm.courseTestEdit.$invalid && !editCourseForm.courseTestEdit.$pristine" class="help-block">Course test is required.</p>
                            </div>
                        </div>

                        <!-- Course TrainerID -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseTrainerIDEdit.$invalid && !editCourseForm.courseTrainerIDEdit.$pristine }">
                            <label class="col-sm-4 control-label">TrainerID</label>
                            <div class="col-sm-8">
                                <tags-input name="courseTrainerIDEdit" min-length="1" replace-spaces-with-dashes="false" ng-model="courseslistEdit.courseTrainerIDEdit" placeholder="Trainer name" required></tags-input>
                                <p ng-show="editCourseForm.courseTrainerIDEdit.$invalid && !editCourseForm.courseTrainerIDEdit.$pristine" class="help-block">Course trainerID is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="UpdateCourseCtrl()" data-dismiss="modal" ng-disabled="editCourseForm.$invalid">Update</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Course Form -->
    <div class="modal fade" id="deleteCourseModal" role="dialog" ng-controller="IsDeletedCourseCtrl">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Course</h4>
                </div>
                <form name="deleteCourseForm" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <div>
                            <p name="courseNameDelete" ng-model="courseslistDelete.courseNameDelete">
                                Are you sure to delete
                                <span ng-bind="courseslistDelete.courseNameDelete">
                                  </span> course?
                            </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="IsDeletedCourseCtrl()" data-dismiss="modal" ng-disabled="editCourseForm.$invalid">Yes</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#courses">Courses</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
