<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
</head>
<body>
    <!--  List of courses -->
    <div class="course-list container">
        <div class="list"> LIST OF COURSES</div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <table class="table table-user-information" ng-controller="GetListCtrl" style="width:100%">
                    <thead>
                        <tr class="tableheader" style="background-color: #363636">
                            <th>Name</th>
                            <th>Category</th>
                            <th>Trainer</th>
                            <th style="text-align:center">
                                <div class="btn btn-default" data-toggle="modal" href="#addCourseModal"><span class="glyphicon glyphicon-plus"></span></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="course in coursesList">
                            <td class="descpopup" style="font-weight:bold">
                                <a href="/course/coursesoverview/{{course.id}}">{{ course.name }}</a>
                                <div ng-bind-html="course.description" class="descpopuptext"></div>
                            </td>
                            <td>{{ course.category }}</td>
                            <td>{{ course.trainerID }}</td>
                            <td style="text-align:center">
                                <a class="a-inside edit" data-toggle="modal" href="#editCourseModal" ng-click="editCourse(course)"><span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                                <a class="a-inside delete" data-toggle="modal" href="#deleteCourseModal" ng-click="deleteCourse(course)"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Course Form -->
    <div class="modal fade" id="addCourseModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Course</h4>
                </div>
                <form name="addCourseForm" ng-controller="AddCourseCtrl" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <!-- Course Name -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseName.$invalid && !addCourseForm.courseName.$pristine }">
                            <label class="col-sm-4 control-label">Course name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseName" ng-model="courseslist.courseName" placeholder="Course name" required>
                                <p ng-show="addCourseForm.courseName.$invalid && !addCourseForm.courseName.$pristine" class="help-block">Course name is required.</p>
                            </div>
                        </div>
                        <!-- Course Category -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseCategory.$invalid && !addCourseForm.courseCategory.$pristine }">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="courseCategory" ng-model="courseslist.courseCategory">
                                    <option>General Orientation</option>
                                    <option>Linux Programming</option>
                                    <option>AXE Overview</option>
                                    <option>CBA Overview</option>
                                    <option>IMS Overview</option>
                                    <option>AXE Overview</option>
                                    <option>On Demand</option>
                                </select>
                            </div>
                        </div>

                        <!-- Course Document -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseDocuments.$invalid && !addCourseForm.courseDocuments.$pristine }">
                            <label class="col-sm-4 control-label">Documents</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseDocuments" ng-model="courseslist.courseDocuments" placeholder="Course documents" required>
                                <p ng-show="addCourseForm.courseDocuments.$invalid && !addCourseForm.courseDocuments.$pristine" class="help-block">Course documents is required.</p>
                            </div>
                        </div>

                        <!-- Course Test -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseTest.$invalid && !addCourseForm.courseTest.$pristine }">
                            <label class="col-sm-4 control-label">Test</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseTest" ng-model="courseslist.courseTest" placeholder="Course test" required>
                                <p ng-show="addCourseForm.courseTest.$invalid && !addCourseForm.courseTest.$pristine" class="help-block">Course test is required.</p>
                            </div>
                        </div>

                        <!-- Course TrainerID -->
                        <div class="form-group" ng-class="{ 'has-error' : addCourseForm.courseTrainerID.$invalid && !addCourseForm.courseTrainerID.$pristine }">
                            <label class="col-sm-4 control-label">Trainers</label>
                            <div class="col-sm-8">
                                <tags-input name="courseTrainerID" min-length="1" replace-spaces-with-dashes="false" ng-model="courseslist.courseTrainerID" placeholder="Trainer name" required></tags-input>
                                <p ng-show="addCourseForm.courseTrainerID.$invalid && !addCourseForm.courseTrainerID.$pristine" class="help-block">Course trainers is required.</p>
                            </div>
                        </div>
                        <!-- Course Description -->
                        <div style="text-align:center" class="form-group" ng-class="{ 'has-error' : addCourseForm.courseDescription.$invalid && !addCourseForm.courseDescription.$pristine }">
                            <label class=" control-label">Course description</label>
                            <br>
                            <br>
                            <text-angular ng-model="courseslist.courseDescription" style="height: 50px;"></text-angular>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="addCourse()" data-dismiss="modal" ng-disabled="addCourseForm.$invalid">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Course Form -->
    <div class="modal fade" id="editCourseModal" role="dialog" ng-controller="UpdateCourseCtrl">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Course</h4>
                </div>
                <form name="editCourseForm" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">


                        <!-- Course Name -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseNameEdit.$invalid && !editCourseForm.courseNameEdit.$pristine }">
                            <label class="col-sm-4 control-label">Course name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseNameEdit" ng-model="courseslistEdit.courseNameEdit" required>
                                <p ng-show="editCourseForm.courseNameEdit.$invalid && !editCourseForm.courseNameEdit.$pristine" class="help-block">Course name is required.</p>
                            </div>
                        </div>
                        <!-- Course Category -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseCategoryEdit.$invalid && !editCourseForm.courseCategoryEdit.$pristine }">
                            <label class="col-sm-4 control-label">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="courseCategoryEdit" ng-model="courseslistEdit.courseCategoryEdit" required>
                                    <option>General Orientation</option>
                                    <option>Linux Programming</option>
                                    <option>AXE Overview</option>
                                    <option>CBA Overview</option>
                                    <option>IMS Overview</option>
                                    <option>AXE Overview</option>
                                    <option>On Demand</option>
                                </select>
                            </div>
                        </div>

                        <!-- Course Document -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseDocumentsEdit.$invalid && !editCourseForm.courseDocumentsEdit.$pristine }">
                            <label class="col-sm-4 control-label">Documents</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseDocumentsEdit" ng-model="courseslistEdit.courseDocumentsEdit" required>
                                <p ng-show="editCourseForm.courseDocumentsEdit.$invalid && !editCourseForm.courseDocumentsEdit.$pristine" class="help-block">Course documents is required.</p>
                            </div>
                        </div>

                        <!-- Course Test -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseTestEdit.$invalid && !editCourseForm.courseTestEdit.$pristine }">
                            <label class="col-sm-4 control-label">Test</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="courseTestEdit" ng-model="courseslistEdit.courseTestEdit" required>
                                <p ng-show="editCourseForm.courseTestEdit.$invalid && !editCourseForm.courseTestEdit.$pristine" class="help-block">Course test is required.</p>
                            </div>
                        </div>

                        <!-- Course TrainerID -->
                        <div class="form-group" ng-class="{ 'has-error' : editCourseForm.courseTrainerIDEdit.$invalid && !editCourseForm.courseTrainerIDEdit.$pristine }">
                            <label class="col-sm-4 control-label">Trainer</label>
                            <div class="col-sm-8">
                                <tags-input name="courseTrainerIDEdit" min-length="1" replace-spaces-with-dashes="false" ng-model="courseslistEdit.courseTrainerIDEdit" placeholder="Trainer name" required></tags-input>
                                <p ng-show="editCourseForm.courseTrainerIDEdit.$invalid && !editCourseForm.courseTrainerIDEdit.$pristine" class="help-block">Course's trainers is required.</p>
                            </div>
                        </div>
                        <!-- Course Description -->
                        <div class="form-group" style="text-align:center">
                            <label class="control-label">Course description</label>
                            <br>
                            <br>
                            <text-angular ng-model="courseslistEdit.courseDescriptionEdit" style="height: 50px;"></text-angular>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="updateCourse()" data-dismiss="modal" ng-disabled="editCourseForm.$invalid">Update</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Course Form -->
    <div class="modal fade" id="deleteCourseModal" role="dialog" ng-controller="IsDeletedCourseCtrl">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Course</h4>
                </div>
                <form name="deleteCourseForm" role="form" class="form-horizontal" novalidate>
                    <div class="modal-body">
                        <div>
                            <p name="courseNameDelete" ng-model="courseslistDelete.courseNameDelete">
                                Are you sure to delete
                                <span ng-bind="courseslistDelete.courseNameDelete">
                                  </span> course?
                            </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="isDeletedCourse()" data-dismiss="modal" ng-disabled="editCourseForm.$invalid">Yes</button>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p class="copyright text-muted small" style="text-align:center">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
    </footer>
</body>

</html>
