<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
</head>
<script>
    $(function() {
        $('#dl-menu').dlmenu();
    });
</script>

<body>
    <!-- Navigation -->
    <div class="">
        <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
            <div class="container">
                <div class="navbar-menu">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger">MENU</button>
                        <ul class="dl-menu">
                            <li><a href="/course">Courses</a></li>
                            <li><a href="/users/userprofile">Profile</a></li>
                            <li><a href="/users/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header">
                    <a class="navbar-logo" href="/">
                        <img class="img-responsive" src="/img/DCC-ver4.png" alt="" width="100">
                    </a>
                </div>
                <div>
                    <a class="navbar-name" href="/">DEK</br>Competence Center</a>
                </div>
                <div class="collapse navbar-rowmenu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/course">Courses</a></li>
                        <li><a href="/users/userprofile">Profile</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--  List of courses -->
    <div class="container" ng-controller="SetProfileCtrl">
        <div class="col-xs-12 col-sm-12 " style="padding-top:100px">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.pName }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 ">
                            <img alt="User Pic" src="{{ user.pAvatar }}" class="img-responsive">
                            <form id="uploadForm" enctype="multipart/form-data" action="/users/photo" method="post">
                                <input type="file" name="userPhoto" />
                                <input type="submit" value="Upload Image" name="submit">
                                <span id="status"></span>
                            </form>
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Status</td>
                                        <td>
                                            <input id="statusUser" type="text" ng-model="user.pStatus">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>
                                            <input id="dob" type="text" ng-model="user.pDoB">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>
                                            <input id="phone" type="text" ng-model="user.pPhone">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>
                                            <input id="loc" type="text" ng-model="user.pLocation">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="{{ user.pEmail }}">{{ user.pEmail }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button ng-click="edit()" class="pull-right">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <p class="copyright text-muted small" style="text-align:center">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
    </footer>

</body>

</html>
