<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <!-- dropdown menu -->
    <script>
        $(function() {
            $('#dl-menu').dlmenu();
        });
    </script>
    <!-- login modal of transparent dropdownmenu -->
    <script>
        $(document).ready(function() {
            $("#login").click(function() {
                $("#loginModal").modal();
            });
        });
    </script>




    <style>
        a:visited {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <div class="">
        <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
            <div class="container">
                <div class="navbar-menu">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger">MENU</button>
                        <ul class="dl-menu">
                            <li><a href="#calendar">Training Calendar</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li ng-hide="userid"><a id="login">Login</a></li>
                            <li role="presentation" ng-hide="!userid">
                                <a href="#">Admin&nbsp<span class="glyphicon glyphicon-hand-right"></span></a>
                                <ul class="dl-submenu">
                                    <li role="presentation" ng-hide="!userid"><a href="/course">Courses</a></li>
                                    <li><a href="/users/userprofile">Profile</a></li>
                                    <li role="presentation" ng-hide="!userid" ng-click="logout()"><a href="/users/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="navbar-header">
                    <a class="navbar-logo" href="#">
                        <img class="img-responsive" src="/img/DCC-ver4.png" alt="" width="100">
                    </a>
                </div>
                <div>
                    <a class="navbar-name" href="#">DEK</br>Competence Center</a>
                </div>

                <div class="collapse navbar-rowmenu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#calendar">Training Calendar</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li role="presentation" ng-hide="userid"><a data-toggle="modal" href="#loginModal">Login</a></li>
                        <li role="presentation" ng-hide="!userid" class="dropdown">
                            <a onclick="myFunction()" class="dropbtn">Admin&nbsp<span class="glyphicon glyphicon-hand-down"></span></a>
                            <ul id="myDropdown" class="dropdown-content">
                                <li role="presentation" ng-hide="!userid"><a href="/course">Courses</a></li>
                                <li role="presentation" ng-hide="!userid"><a href="/users/userprofile">Profile</a></li>
                                <li role="presentation" ng-hide="!userid" ng-click="logout()"><a href="/users/logout">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- The login form here -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form name="loginForm" ng-controller="LoginCtrl" role="form" class="form-horizontal" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Account Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                            <label class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Username" required>
                                <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Username is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                            <label class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
                                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" ng-click="login()" data-dismiss="modal" ng-disabled="loginForm.$invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Header -->
    <div style="padding-top:50px">
        <div id="myCarousel" class="intro-header carousel slide" data-ride="carousel" style="height=100%">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active intro-message" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                                                              url(/img/slider-1.jpg) no-repeat center center ;
                                                              -webkit-background-size: cover;
                                                              -moz-background-size: cover;
                                                              -o-background-size: cover;
                                                              background-size: cover;">
                    <p class="slidertext">DEK </br> Competence Center</p>
                </div>

                <div class="item intro-message" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                                                              url(/img/slider-2.jpg) no-repeat center center ;
                                                              -webkit-background-size: cover;
                                                              -moz-background-size: cover;
                                                              -o-background-size: cover;
                                                              background-size: cover;">
                    <p class="slidertext">Developing </br> Tommorrow's Technology</p>
                </div>

                <div class="item intro-message" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                                                              url(../img/slider-3.jpg)no-repeat center center;
                                                              -webkit-background-size: cover;
                                                              -moz-background-size: cover;
                                                              -o-background-size: cover;
                                                              background-size: cover;">
                    <p class="slidertext">DCC</p>
                </div>

                <div class="item intro-message" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                                                              url(../img/slider-4.jpg)no-repeat center center;
                                                              -webkit-background-size: cover;
                                                              -moz-background-size: cover;
                                                              -o-background-size: cover;
                                                              background-size: cover;">
                    <p class="slidertext"> DEK </br> Technologies </p>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- calendar -->
    <div class="cal" ng-controller="CalendarCtrl" id="calendar" style="top: 250px;">
        <div class="titlecal">
            Training Calendar
        </div>
        <div id="popups" class="event clip12"> </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        <calendar-md
            flex layout layout-fill
            calendar-direction="direction"
            on-prev-month="prevMonth"
            on-next-month="nextMonth"
            on-day-click="dayClick"
            title-format="'MMMM y'"
            ng-model='selectedDate'
            day-format="'d'"
            tooltips='false'
            day-label-format="'EEE'"
            day-label-tooltip-format="'EEEE'"
            day-tooltip-format="'fullDate'"
            week-starts-on="firstDayOfWeek"
            template="myTemplate"
            day-content="setDayContent">
        </calendar-md>
    </div>
    <div class="modal fade" id="id01" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align:center">Course details</h4>
                        </div>
                        <div class="modal-body">
                            <p id = "cName"></p>
                            <p id = "cOrg"></p>
                            <p id = "cDes"></p>
                        </div>
                </div>
            </div>
        </div>
    <!-- Contact -->
    <div id="contact" class="contact">
        <div class="banner">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Follow us</h2>
                    </br>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.dektech.com.au/" class="btn btn-default btn-lg"><span class="network-name">Website</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/DEKTechnologiesGlobal/" class="btn btn-default btn-lg"><em class="fa fa-facebook fa-fw"></em> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/dek-technologies" class="btn btn-default btn-lg"><em class="fa fa-linkedin fa-fw"></em> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer>
        <p class="copyright text-muted small" style="text-align:center">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
    </footer>
</body>

</html>
