<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <!---------------------------------------------------------------------------->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/img/DCC-icon.png"/>
        <!---------------------------------------------------------------------------->
        <!-- [if !IE]><!-->
        <!-- Library JS -->
        <!-- jQuery -->
        <script src="/js/jquery/jquery.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <!-- AngularJS -->
        <script src="/js/angular/angular.min.js"></script>
        <script src="/js/angular/angular-cookies.js"></script>
        <script src="/js/angular/angular-route.js"></script>
        <script src="/js/angular/angular-animate.min.js"></script>
        <script src="/js/angular/angular-aria.min.js"></script>
        <script src="/js/angular/angular-sanitize.min.js"></script>
        <script src="/js/angular/angular-material.min.js"></script>
        <script src="/js/angular/angular-material-calendar.js"></script>
        <script src="/js/angular/ng-tags-input.js"></script>
        <!-- textAngular -->
        <script src="/js/textAngular/textAngular-rangy.min.js"></script>
        <script src="/js/textAngular/textAngular-sanitize.min.js"></script>
        <script src="/js/textAngular/textAngular.min.js"></script>
        <!-- Modernizr -->
        <script src="/js/modernizr/modernizr.custom.js"></script>
        <!-- Custom JS -->
        <!-- AngularJS -->
        <script src="/angular/app.js"></script>
        <script src="/angular/controller.js"></script>
        <script src="/angular/service.js"></script>
        <!-- jQuery -->
        <script src="/js/jquery/jquery.DCC.js"></script>
        <script src="/js/custom/custom.js">

        </script>

        <!-- Library CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
        <!-- Theme -->
        <link rel="stylesheet" href="/css/theme/full-slider.css">
        <link rel="stylesheet" href="/css/theme/landing-page.css">
        <!-- AngularJS -->
        <link rel="stylesheet" href="/css/angular/angular-csp.css">
        <link rel="stylesheet" href="/css/angular/angular-material.layouts.min.css">
        <link rel="stylesheet" href="/css/angular/angular-material.min.css">
        <link rel="stylesheet" href="/css/angular/angular-material-calendar.min.css">
        <link rel="stylesheet" href="/css/angular/ng-tags-input.css"/>
        <!-- textAngular -->
        <link rel="stylesheet" href="/css/textAngular/textAngular.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/custom/DCC.css">
        <link rel="stylesheet" href="/css/custom/custom.css">
        <!-- <link rel="stylesheet" href="/css/custom/style.css"> -->l

        <!-- Library Fonts -->
        <link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]> <![endif]-->
        <!--[if gte IE 7]> <![endif]-->
        <!--[if IE 6]> <![endif]-->
    </head>

    <body ng-Controller="LoginCtrl">
        <!-- Navigation -->
        <div class="" ng-cloak>
            <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
                <div class="container" >
                    <div class="navbar-menu">
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button class="dl-trigger">MENU</button>
                            <ul class="dl-menu">
                              <li role="presentation" ng-hide="!userid">
                                  <a href="/course">Courses</a>
                              </li>
                              <li role="presentation" ng-hide="!userid">
                                  <a href="/users/userprofile">Profile</a>
                              </li>
                            <li role="presentation" ng-hide="!userid">
                                  <a href="/users/trainingprogram">Training Program</a>
                              </li>
                                <li ng-hide="userid">
                                    <a id="login">Login</a>
                                </li>
                                <li role="presentation" ng-hide="!userid" >
                                    <a href="#">{{userid}}&nbsp;<span class="glyphicon glyphicon-hand-right"></span>
                                    </a>
                                    <ul class="dl-submenu">
                                        <li role="presentation" ng-hide="!userid">
                                            <a href="/course">Courses</a>
                                        </li>
                                        <li>
                                            <a href="/users/userprofile">Profile</a>
                                        </li>
                                        <li>
                                            <a href="/users/trainingprogram">Training Program</a>
                                        </li>
                                        <li role="presentation" ng-hide="!userid" ng-click="logout()">
                                            <a href="/users/logout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="navbar-header">
                        <a class="navbar-home" href="/">
                         <img class="navbar-logo img-responsive" src="/img/logo/DCC-ver4.png" alt="DCC Logo" width="95px">
                            <a class="navbar-name " href="/">DEK<br>Competence Center</a>
                        </a>
                    </div>

                    <div class="collapse navbar-rowmenu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a id="button-calendar" href="/#calendar">Training Calendar</a>
                            </li>
                            <li>
                                <a id="button-contact" href="/#contact">Contact</a>
                            </li>
                            <li role="presentation" ng-hide="userid">
                                <a data-toggle="modal" href="#loginModal">Login</a>
                            </li>
                            <li role="presentation" ng-hide="!userid" class="dropdown">
                                <a onclick="myFunction()" class="dropbtn"> {{userid}} &nbsp;<span class="glyphicon glyphicon-hand-down"></span>
                                </a>
                                <ul id="myDropdown" class="dropdown-content">
                                    <li role="presentation" ng-hide="!userid">
                                        <a href="/course">Courses</a>
                                    </li>
                                    <li role="presentation" ng-hide="!userid">
                                        <a href="/users/userprofile">Profile</a>
                                    </li>
                                    <li role="presentation" ng-hide="!userid">
                                        <a href="/users/trainingprogram">Training Program</a>
                                    </li>
                                    <li role="presentation" ng-hide="!userid" ng-click="logout()">
                                        <a href="/users/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- The login form here -->
        <div class="modal fade" id="loginModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form name="loginForm" ng-controller="LoginCtrl" role="form" class="form-horizontal" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Account Login</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                                <label class="col-sm-4 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Username" required>
                                    <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Username is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                                <label class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
                                    <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" ng-click="login()" data-dismiss="modal" ng-disabled="loginForm.$invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="sep-nav">
            <%-body%>
        </div>
        <!-- Footer -->
        <footer>
            <p class="copyright text-muted small" style="text-align:center">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
        </footer>
    </body>

</html>
