<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
    <link rel="icon" href="/img/course-icon.jpg" />
    <!-- jQuery -->
    <link href="/css/full-slider.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="/js/angular.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/DCC.css" rel="stylesheet">
    <link href="/css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      a:visited{
      text-decoration: none;
      }
    </style>
  </head>
<body>
    <!-- Navigation -->
    <div class="">
          <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
              <div class="container topnav">
                  <div class="navbar-menu">
                      <a href="javascript:history.go(-1)">Back</a>
                  </div>
                  <div class="navbar-header">
                    <a class="navbar-logo2" href="/">
                      <img class="img-responsive" src="/img/DCC-ver5.png" alt="" width="100" height="40">
                    </a>
                  </div>
                  <div>
                    <a class="navbar-name" href="/">DEK</br>Competence Center</a>
                  </div>
                  <div class="collapse navbar-rowmenu">
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="javascript:history.go(-1)">Back</a></li>
                      </ul>
                  </div>
             </div>
          </nav>
      </div>
    <!--  List of courses -->
    <div class="container">
      <div  class="col-xs-12 col-sm-12 " style="padding-top:100px">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">List of students</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                  <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td width="20%">Name</td>
                                <td width="20%">E-mail</td>
                                <td width="20%">Phone</td>
                                <td width="30%">Note</td>
                              </tr>
                              <tr>
                                <td width="20%">Nguyen Van A</td>
                                <td width="20%">anguyen@gmail.com</td>
                                <td width="20%">0213456789</td>
                                <td width="30%">Nothing</td>
                              </tr>
                              <tr>
                                <td width="20%">Nguyen Van A</td>
                                <td width="20%">anguyen@gmail.com</td>
                                <td width="20%">0213456789</td>
                                <td width="30%">Nothing</td>
                              </tr>
                              <tr>
                                <td width="20%">Nguyen Van A</td>
                                <td width="20%">anguyen@gmail.com</td>
                                <td width="20%">0213456789</td>
                                <td width="30%">Nothing</td>
                              </tr>
                              <tr>
                                <td width="20%">Nguyen Van A</td>
                                <td width="20%">anguyen@gmail.com</td>
                                <td width="20%">0213456789</td>
                                <td width="30%">Nothing</td>
                              </tr>
                              <tr>
                                <td width="20%">Nguyen Van A</td>
                                <td width="20%">anguyen@gmail.com</td>
                                <td width="20%">0213456789</td>
                                <td width="30%">Nothing</td>
                              </tr>
                            </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#courses">Courses</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
