<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
  </head>
<body>
    <!-- Navigation -->
    <div class="">
          <nav class="navbar navbar-dcc navbar-fixed-top topnav" role="navigation">
              <div class="container">
          				<div class="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:history.go(-1)">Back</a></li>
                    </ul>
          				</div>
          				<div class="navbar-header">
          					<a class="navbar-logo" href="/">
          						<img class="img-responsive" src="/img/DCC-ver4.png" alt="" width="100" height="40">
          					</a>
          				</div>
          				<div>
          					<a class="navbar-name" href="/">DEK</br>Competence Center</a>
          				</div>
          				<div class="collapse navbar-rowmenu">
          					  <ul class="nav navbar-nav navbar-right">
                          <li><a href="javascript:history.go(-1)">Back</a></li>
          					  </ul>
          				</div>
  			     </div>
  		    </nav>
      </div>
    <!--  List of courses -->
    <div class="container">
      <div  class="col-xs-12 col-sm-12 " style="padding-top:100px">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">List of students</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                  <table class="table table-user-information">
                            <tbody>
                              <tr>
                                <td>Name</td>
                                <td>E-mail</td>
                                <td>Phone</td>
                                <td>Note</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                              <tr>
                                <td>Nguyen Van A</td>
                                <td>anguyen@gmail.com</td>
                                <td>0213456789</td>
                                <td>Nothing</td>
                              </tr>
                            </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#courses">Courses</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; DEK Technologies Vietnam 2016. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
