<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>DEK Technologies Vietnam Talentnet - Landing Page</title>
  </head>
<body>
    <div class="container profile"  ng-controller = "SetProfileCtrl">
      <div class="col-xs-12 col-sm-12 ">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{ user.pName }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 ">
                  <img alt="User Picture" ng-src= "{{ user.pAvatar }}" class="img-responsive">
              </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Status</td>
                          <td>{{ user.pStatus }}</td>
                        </tr>
                        <tr>
                          <td>Date of Birth</td>
                          <td>{{ user.pDoB }}</td>
                        </tr>
                        <tr>
                          <td>Phone</td>
                          <td>{{ user.pPhone }}</td>
                        </tr>
                          <tr>
                          <td>Location</td>
                          <td>{{ user.pLocation }}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td><a ng-href="{{ user.pEmail }}">{{ user.pEmail }}</a></td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="pull-right"><a href="/users/edituserprofile">Edit</a></button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </body>
</html>
