<div ng-include="templates[0].url"></div>
<div ng-include="templates[1].url"></div>
<div ng-include="templates[2].url"></div>


<div class="container">
    <div class="container row">
        <div class="span12">
            <!-- SEARCH BOX -->
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>List of Courses</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                            <table class="table table-user-information" style="width:100%">
                                                <thead>
                                                    <tr class="tableheader" style="background-color: #363636">
                                                        <th style="font-size:20px; color: white; bold: true; text-align: center">Name</th>
                                                        <th style="font-size:20px; color: white; bold: true; text-align: center">Training Program</th>
                                                        <!-- <th>Trainer</th> -->
                                                        <th style="text-align:center" ng-hide="">
                                                            <div class="btn btn-success" data-toggle="modal" href="#addCourseModal"><span class="glyphicon glyphicon-plus"></span></div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="course in coursesList">
                                                        <td style="font-weight:bold;  margin-left: 10px;">
                                                            <a href="/#courseDetail">{{ course.name }}</a>
                                                            <!--<div class="descpopuptext" ng-bind-html="course.description">{{ course.description }}</div>-->
                                                        </td>
                                                        <td>{{ course.trainingProgramId }}</td>
                                                        <!-- <td>{{ course.trainerID }}</td> -->
                                                        <td style="text-align:center" ng-hide="">
                                                            <a class="a-inside edit" data-toggle="modal" href="#addCourseModal" ><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <a class="a-inside delete" data-toggle="modal" href="#deleteCourseModal" ng-click="deleteCourse(course)"><span class="glyphicon glyphicon-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
