<div class="container">
    <div class="container row" ng-controller="courseRegisterCtrl">
        <div class="span12">
            <!-- SEARCH BOX -->
            <div class="widget widget-nopad">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>Search for courses</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">
                            <div class="row">
                                <center>
                                    <form class="navbar-form" role="search">

                                        <br>
                                        <div class="input-group">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="input-group">
                                                    <input ng-model="courseSearchKey" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" onkeyup="findCourse()">
                                                    <div class="input-group-btn">
                                                        <button ng-click="findCourse()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                    </div>
                                                </div>
                                                {{test}}
                                            </div>
                                        </div>
                                    </form>
                                </center>

                            </div>
                            <div ng-show="courseSearchKey"  class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                        <div class="panel panel-default" ng-repeat="course in courseListSearchResult">
                                            <div class="panel-heading panel-title"  style="border: 1px solid grey; border-radius: 5px;">
                                                <a data-toggle="collapse" data-target="#collapse{{trainningProgram.id}}" style="text-decoration : none">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <blockquote class="blockquote" style="border-left: none; margin-bottom:0">
                                                                <img  style="float:left; clear:both; margin-right: 10px;" alt="training-program-icon" class="img-responsive" src = "{{course.imgLink}}" width="95px">
                                                                <font size="6px">{{course.name}}</font>
                                                                <footer class="blockquote-footer" style="color: black; margin-bottom:20px"> {{course.description}}</footer>
                                                                <br>
                                                            </blockquote>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <br><br>
                                                            <toggle ng-init="courseRegisterStatus=true" ng-model="courseRegisterStatus" ng-change="registerCourse(course.id)" onstyle="btn-success" offstyle="btn-danger" on="Register" off="Un-register"></toggle>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OPENNING COURSE -->
            <div class="widget widget-nopad" ng-show="!courseSearchKey">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>Opening courses</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">
                            <div class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                        <div class="panel panel-default" ng-repeat="course in openingCourseList">
                                            <div class="panel-heading panel-title"  style="border: 1px solid grey; border-radius: 5px;">
                                                <a data-toggle="collapse" data-target="#collapse{{trainningProgram.id}}" style="text-decoration : none">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <blockquote class="blockquote" style="border-left: none; margin-bottom:0">
                                                                <img  style="float:left; clear:both; margin-right: 10px;" alt="training-program-icon" class="img-responsive" src = "{{course.imgLink}}" width="95px">
                                                                <font size="6px">{{course.name}}</font>
                                                                <footer class="blockquote-footer" style="color: black; margin-bottom:20px"> {{course.description}}</footer>
                                                                <br>
                                                            </blockquote>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <br><br>
                                                            <toggle ng-init="courseRegisterStatus=true" ng-model="courseRegisterStatus" ng-change="registerCourse(course.id)" onstyle="btn-success" offstyle="btn-danger" on="Register" off="Un-register"></toggle>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ALL COURSE -->
            <div class="widget widget-nopad" ng-show="!courseSearchKey">
                <div class="widget-header">
                    <center><font size="6px" style="color: black"><b>All courses</b></font></center>
                </div>
                <div class="widget-content" >
                    <div class="widget big-stats-container" style="margin-bottom:0">
                        <div class="widget-content">

                            <div class="control-group">
                                <div class="controls">
                                    <div class="panel-group">
                                        <div class="panel panel-default" ng-repeat="trainningProgram in trainingProgramList">
                                            <div class="panel-heading panel-title"  style="border: 1px solid grey; border-radius: 5px;">
                                                <a data-toggle="collapse" data-target="#collapse{{trainningProgram.id}}" style="text-decoration : none">
                                                    <blockquote class="blockquote" style="border-left: none; margin-bottom:0">
                                                        <img  style="float:left; clear:both; margin-right: 10px;" alt="training-program-icon" class="img-responsive" src = "{{trainningProgram.imgLink}}" width="95px">
                                                        <font size="6px">{{trainningProgram.name}}</font>
                                                        <footer class="blockquote-footer" style="color: black; margin-bottom:20px"> {{trainningProgram.description}}</footer>
                                                        <br/>
                                                    </blockquote>
                                                    <center><span class="glyphicon glyphicon-menu-down"></span></center>
                                                </a>
                                            </div>
                                            <div id="collapse{{trainningProgram.id}}" class="panel-collapse collapse">
                                                <ul class="list-group">
                                                    <li class="list-group-item" ng-repeat="course in trainningProgram.Courses" style="border-top: 0 none;">
                                                        <div class="row" style="padding-bottom:10px; margin-left: 30px; margin-right: 30px; border: 2px solid grey; border-radius: 5px;">
                                                            <div class="col-md-10">
                                                                <blockquote class="blockquote" style="border-left: none; padding-left:0px; padding-top: 20px">
                                                                    <img  style="float:left; clear:both;margin:8px 8px 8px 8px;" alt="course-icon" class="img-responsive" src = "{{course.imgLink}}" width="90px">
                                                                    <font size="6px" color="black" style="margin-top: 10px;">{{course.name}}</font>
                                                                    <footer class="blockquote-footer" style="color: black;">{{course.description}}</footer>
                                                                </blockquote>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <br><br>
                                                                <toggle ng-init="courseRegisterStatus=true" ng-model="courseRegisterStatus" ng-change="registerCourse(course.id)" onstyle="btn-success" offstyle="btn-danger" on="Register" off="Un-register"></toggle>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
